:root{
    --main-color:#1E5BB7;
    --sub-color:#F5F9FC;
    --sub2-color:#F5D042;
  }

   body{
      
   }
    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }
  
    a {
      text-decoration: none;
    }
  
    ul {
      list-style-type: none; 
    }
    
    .container {
        width: 1440px;
        margin: 0 auto;
        
        
      } 
    header {
        
        height: 100px;
        margin: 0 auto;
        z-index: 999;
        border-bottom: 1px solid rgba(255,255,255,0.4);
        
      }
    header > .header-container {
        /* outline: 1px solid #999; */
        display: flex;
        padding: 0;
        z-index: 999;
        width: 1440px;
        margin: 0 auto;
      }
     header h1.logo {
        margin-top: 17px;
        margin-right: auto;
        
      }
    header  h1.logo > a > img{
        width: 160px;
        height: 63px;
      }
    
    .depth1{
        display: flex;
        margin-top: 36px;
        font-size: 22px;
    }
    .depth1 a{
        text-transform: uppercase;
        color: #fff;
        margin-left: 53px;
    }
    #toggle{
        display: none;
      }
    .btn-close{
        display: none;
    }
    #main{
        position: relative;
        height: 980px;
    }
    #bg{
        /*풀스크린*/
        position: fixed;
        z-index: -100;
        left: 0;
        top: 0;
        min-width: 100%;
        min-height: 100%;
        /* 비디오가 재생불가시 대체 이미지*/
        background-image: url(./poster.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        background-attachment:none;
        
    }
    
    .main-visual{
        /* outline: 1px solid #999; */
        display: flex;
        justify-content: center;
        align-items: center;
        width: 1440px;
        height: 100vh;
        margin: 0 auto;
    }
    .main-visual .title{
        color: #fff;
        text-align: center;
        position: absolute;
        font-weight: bold;
        top: calc(50% - 550px/2);
    }
    .main-visual .title a{
        color: #fff;
    }
    .main-visual .title a .fa-music{
        margin-bottom: 53px;
       font-size: 26px;
    }
    .main-visual .title .sub-title{
        font-size: 50px;
    }
    .main-visual .title .main-title{
        font-size: 100px;
    }
    .main-visual .title .bgm > button{
        margin-right: 20px;
        margin-top: 53px;
       
    }
    button{
        border: none;
        background: none;
        color: #fff;
    }
    .main-visual .title .scroll{
        margin-top: 230px;
      
    }
    .main-visual .title .scroll i{
        width: 20px;
        
        display: flex;
        flex-direction: column-reverse;
        margin: 0 auto;
    }
    .main-visual .title .scroll img{
        margin-bottom: 7px;
        width: 20px;
    }
   
    .container{
        /* outline: 1px solid #999; */
        background-color: #fff;
        width: 1440px;
        margin: 0 auto;
    }
    .container .section-title{
        text-align: center;
        width: 1440px;
        margin: 0 auto;
    }
     .container .section-title h2{
        font-size: 60px;
        text-transform: uppercase;
        padding-top: 55px;
        margin-bottom: 35px;
    }
    .container .section-title .border {
        font-size: 25px;
        margin-bottom: 45px;
    }
    
     .container .section-title p.border:before,
    p.border:after {
        display: inline-block;
        margin-top: -4px;
        vertical-align: middle;
        content: "";
        background-color: #070707;
        width: 63px;
        height: 1px;
    }
    #s1{
        position: relative;
        width: 100%;
        height: 1158px;
        background-color: var(--sub-color);
        color: #070707;
    }
    #s1 .container  .profile{
        display: flex;
        /* outline: 1px solid #1E5BB7;*/
        width: 586px;
        margin: 0 auto;
        text-align: center;
    }
    #s1 .container  .profile .col{
        width: 175px;
        margin-right: 60px;
       /* outline: 1px solid #1E5BB7;*/
        
    }
    #s1 .container  .profile .col:last-child{
        margin-right: 0;
    }
    #s1 .container .profile-title{
        font-size: 40px;
        padding-bottom: 35px;
        text-transform: uppercase;
        text-align: center;
    }
    #s1 .container  .profile .col img{
        margin-bottom: 24px;
    }
    #s1 .container  .profile .col a{
        color: #070707;
    }
    #s1 .container .skill-title{
        font-size: 40px;
        padding-bottom: 35px;
        text-transform: uppercase;
        text-align: center;
        padding-top: 45px;
    }
    #s1 .container .skill{
       
    }
    #chart {
        position: relative;
        overflow: hidden;
        text-align: center;
        width: 713px;
        margin: 0 auto;
        font-size: 15px;
      }
      
      #chart > li {
        position: relative;
        float: left;
        width: calc(713px / 4);
        padding-left: 25px;
        padding-right: 25px;
        
      }
      #chart > li span {
        position: absolute;
        left: 50%; top: 50%;
        transform: translate(-50%, -50%);
      }
    #s1 .container .tools{
        display: flex;
        width: 713px;
        margin: 0 auto;
        text-align: center;
    }
    #s1 .container .tools .tools-col{
        width: calc(713px /5);
        margin-top: 20px;
        font-size: 14px;
        margin-bottom: 45px;
    }
    #s1 .container .tools .tools-col img{
        border-radius: 50%;
        width: 70px;
    }
    #s1 .container .tools .tools-col p{
        margin-top: 10px;
    }
    #s1  .banner{
        width: 100%;
        height: 300px;
        background-color: darkblue;
    }
    #s1  .banner  .banner-container{
        width: 1440px;
        margin: 0 auto;
        
    }
    #s1 .banner .banner-container .explain{
        line-height: 35px;
        color: #fff;
       padding-top: 50px;
       padding-left: 30px;
    }
    #s2{
        position: relative;
        width: 100%;
        height: 1158px;
        background-color: var(--sub-color);
        color: #070707;
    }
    #s3{
        position: relative;
        width: 100%;
        height: 1158px;
        background-color: var(--sub-color);
        color: #070707;
    }
    *,
*::after,
*::before {
    box-sizing: border-box;
}
.fa-arrow-up{
    position: fixed;
    color: #222;
    cursor: pointer;
    right: 120px;
    bottom: 30px;
    display: block;
}   